# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Large files (if needed)
# *.h5
# *.csv

# Streamlit
.streamlit/secrets.toml
